################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nsc-sdk/.vs/nsc-sdk/v16/Server/sqlite3
